/* CSS */
.GoldenButton {
    background-color: #f7fbc2;
    border-radius: 100px;
    box-shadow: var(--goldColorShadowColor) 0 -25px 18px -14px inset,var(--goldColorShadowColor) 0 1px 2px,var(--goldColorShadowColor) 0 2px 4px,var(--goldColorShadowColor) 0 4px 8px,var(--goldColorShadowColor) 0 8px 16px,var(--goldColorShadowColor) 0 16px 32px;
    color: #805500;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 80px;
  }
  
  .GoldenButton:hover {
    box-shadow: var(--goldColorShadowColorDeep) 0 -25px 18px -14px inset,var(--goldColorShadowColorDeep) 0 1px 2px,var(--goldColorShadowColorDeep) 0 2px 4px,var(--goldColorShadowColorDeep) 0 4px 8px,var(--goldColorShadowColorDeep) 0 8px 16px,var(--goldColorShadowColorDeep) 0 16px 32px;
    transform: scale(1.05) rotate(-0.5deg);
  }