@import url("https://fonts.googleapis.com/css?family=Roboto");

.carousel1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel1 .inner {
    white-space: nowrap;
    height: 100%;
    position: relative;
}

.carousel1 .carousel-item1 {
    position: absolute;
    transition: opacity 0.4s linear;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.carousel1 .carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617d98;
}

.carousel1 .carousel-img {
    width: 250px;
    padding: 0 20px 0 20px;
}

/* final stage */

.carousel1 .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.carousel1 .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.carousel1 .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.carousel1 .indicator-buttons {
    border: none;
    cursor: pointer;
}

.carousel1 .indicators>button {
    margin: 5px;
    background: none;
}

.carousel1 .indicator-symbol {
    color: #26343f;
}

.carousel1 .indicator-symbol-active {
    color: #ffffff;
}